@import url(http://fonts.googleapis.com/css?family=Open+Sans|Yanone+Kaffeesatz);
/* line 9, ../../main.sass */
body, html {
  background-color: #222222;
  color: white;
  margin: 0px;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1.6;
  height: 100%;
  width: 100%;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-box-orient: vertical;
  box-orient: vertical;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-box-pack: center;
  box-pack: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-box-align: center;
  box-align: center;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: box;
  background-image: url("../image/bg.jpg");
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: 10% 50%;
}

/* line 27, ../../main.sass */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 30, ../../main.sass */
#header {
  padding: 0px 0px 0px 300px;
  color: #ececec;
  border-bottom: 5px solid #ac2a2a;
  font-size: 44pt;
  font-family: "Yanone Kaffeesatz", sans-serif;
  line-height: 35pt;
  margin-bottom: auto;
  margin-top: auto;
  width: 100%;
  -webkit-box-shadow: 0px 3px 0px #141414;
  -moz-box-shadow: 0px 3px 0px #141414;
  box-shadow: 0px 3px 0px #141414;
}
@media (max-width: 1000px) {
  #header {
    padding: 0px 0px 0px 100px;
  }
}
@media (max-width: 600px) {
  #header {
    padding: 0px 0px 0px 10px;
    font-size: 20pt;
  }
}
/* line 42, ../../main.sass */
#header a:hover {
  color: #888;
  text-decoration: none;
}

/* line 46, ../../main.sass */
a, a:hover, a:visited, a:active, a:link {
  text-decoration: none;
  color: #ececec;
}

/* line 50, ../../main.sass */
#return {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  display: none;
  font-size: 20pt;
}

/* line 55, ../../main.sass */
#name {
  font-size: 54pt;
  padding-right: 30px;
  line-height: 44px;
  display: inline;
  height: 70px;
  width: 350px;
  vertical-align: bottom;
  text-shadow: 2px 2px 0px #1e1e1e;
}

/* line 65, ../../main.sass */
.main {
  background-color: rgba(0, 0, 0, 0.5);
  overflow: hidden;
  height: 1px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding: 0px 45px;
  width: 100%;
  opacity: 0;
}

/* line 76, ../../main.sass */
.main_show {
  overflow: visible;
}
